$product-card-max-width-desktop: 520px;
$product-card-max-width-phones: 400px;
$product-card-title-color: rgba(101, 104, 116, 0.90);
$product-card-button-bg: #464B90;
$product-card-button-hover-bg: #5f67c0;

.product-card {
  width: 100%;
  max-width: $product-card-max-width-desktop;
  text-align: center;

  @media (max-width: 600px) {
    max-width: $product-card-max-width-phones;
  }

  &__image-box {
    display: block;
    margin-bottom: 35px;
  }

  &__image {
    height: 340px;
    width: 100%;
    object-fit: cover;
  }

  &__title-box {
    margin-bottom: 20px;
  }

  &__title:link,
  &__title:visited {
    color: $product-card-title-color;
    font-family: 'Lato', sans-serif;
    font-size: 22px;
    font-weight: 700;
    text-align: center;
    text-decoration: none;
    line-height: 42px;
    transition: 0.3s;



    &:hover,
    &:active {
      text-decoration: underline;
    }
  }

  &__button {
    max-width: 285px;
    width: 100%;
    background-color: $product-card-button-bg;
    padding: 18px 0;
    border: none;
    border-radius: 40px;
    color: white;
    font-size: 16px;
    font-weight: 100;
    text-align: center;
    line-height: 26px;
    cursor: pointer;
    transition: 0.3s;

    &:hover,
    &:active {
      background-color: $product-card-button-hover-bg;
    }
  }

  &__button__disabled {
    cursor: not-allowed;
  }
}

.text__clamp-1-line {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}
