$container-max-width: 1080px;

.featured-products__products-box {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  column-gap: 40px;
  row-gap: 120px;
  max-width: $container-max-width;
  margin: 0 auto;
  padding: 0 10px;
  list-style-type: none;

  @media (max-width: 1100px) {
    grid-template-columns: 1fr;
    row-gap: 50px;
  }
}

.featured-products__title {
  text-align: center;
  font-size: 42px;
  font-weight: 900;
  color: #656874;
  margin-bottom: 60px;
}
